<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Categorías de productos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/parameters/categories']">Categorías</a>
            </li>
            <li class="breadcrumb-item active">Consultar</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="card">
      
        <div class="card-header">
          <h3 class="card-title">Consultar registro</h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                <label>Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingresar el nombre de la categoría ..."
                  readonly
                />
              </div>
              <div class="form-group">
                <label>Registro activo</label>
                <select class="form-control" disabled>
                  <option value="">Seleccione el estado del registro</option>
                  <option value="1">Activo</option>
                  <option value="0">Inactivo</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <!-- textarea -->
              <div class="form-group">
                <label>Descripción</label>
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Ingrese la descripción"
                  readonly
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-md-12 text-right mr-2">
              

              <a
                [routerLink]="['/parameters/categories/edit']"
                class="btn btn-success"
              >
                <i class="fas fa-edit "></i> Editar
              </a>

              <a
                [routerLink]="['/parameters/categories']"
                class="btn btn-warning"
              >
                <i class="fas fa-times"></i> Cancelar
              </a>
            </div>
          </div>
        </div>
      
    </div>
  </section>
</div>

