
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Cajas registradoras</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">listado</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

     <!-- Default box -->
     <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado de cajas</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        
        <div class="mb-3">
            <a [routerLink]="['/parameters/cash-registers/create']" class="btn btn-success btn-sm"> <i class="fas fa-external-link-alt"></i> Agregar Nuevo</a>
        </div>

        <table class="table table-bordered table-striped table-sm">

          <thead>
            <tr>
              <th style="width: 5%;" class="text-center">ID</th>
              <th style="width: 20%;" class="text-center">NOMBRE</th>
              <th style="width: 40%;" class="text-center">DESCRIPCION</th>
              <th style="width: 10%;" class="text-center">ACTIVO</th>
              <th style="width: 25%;" class="text-center">ACCIONES</th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>Caja 1</td>
              <td>esta es la caja proncipal</td>
              <td class="text-center">SI</td>
              <td>
                <a [routerLink]="['/parameters/cash-registers/show']" class="btn btn-info btn-sm mr-1 "> <i class="fas fa-eye"></i> Mostrar </a>
                <a [routerLink]="['/parameters/cash-registers/edit']" class="btn btn-warning btn-sm mr-1 "><i class="fas fa-edit"></i>  Editar </a>
                <a href="" class="btn btn-danger btn-sm "> <i class="fas fa-trash"></i> Eliminar </a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Caja 2</td>
              <td>esta es la caja Secundaria</td>
              <td class="text-center">SI</td>
              <td>
                <a [routerLink]="['/parameters/cash-registers/show']" class="btn btn-info btn-sm mr-1 "> <i class="fas fa-eye"></i> Mostrar </a>
                <a [routerLink]="['/parameters/cash-registers/edit']"  class="btn btn-warning btn-sm mr-1 "><i class="fas fa-edit"></i>  Editar </a>
                <a href="" class="btn btn-danger btn-sm "> <i class="fas fa-trash"></i> Eliminar </a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Caja 3</td>
              <td>esta es la caja Alterna</td>
              <td class="text-center">SI</td>
              <td>
                <a [routerLink]="['/parameters/cash-registers/show']" class="btn btn-info btn-sm mr-1 "> <i class="fas fa-eye"></i> Mostrar </a>
                <a [routerLink]="['/parameters/cash-registers/edit']"  class="btn btn-warning btn-sm mr-1 "><i class="fas fa-edit"></i>  Editar </a>
                <a href="" class="btn btn-danger btn-sm "> <i class="fas fa-trash"></i> Eliminar </a>
              </td>

            </tr>
          </tbody>

        </table>
       


      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        Footer
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->

  </section>



</div>
