<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Productos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
              <a href="/productos">Productos</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <!-- Product Table -->
    <div class="card h-100">
      <div class="card-header">
        <h3>Listado de productos</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Marca</th>
              <th>Categoría</th>
              <th>Unidad</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Producto A</td>
              <td>Descripción del producto A</td>
              <td>Marca X</td>
              <td>Electrónica</td>
              <td>Unidad</td>
              <td>50</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Producto B</td>
              <td>Descripción del producto B</td>
              <td>Marca Y</td>
              <td>Hogar</td>
              <td>Unidad</td>
              <td>30</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Producto C</td>
              <td>Descripción del producto C</td>
              <td>Marca Z</td>
              <td>Alimentos</td>
              <td>Kg</td>
              <td>100</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Producto D</td>
              <td>Descripción del producto D</td>
              <td>Marca A</td>
              <td>Ropa</td>
              <td>Pieza</td>
              <td>200</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Producto E</td>
              <td>Descripción del producto E</td>
              <td>Marca B</td>
              <td>Electrodomésticos</td>
              <td>Unidad</td>
              <td>10</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Producto F</td>
              <td>Descripción del producto F</td>
              <td>Marca C</td>
              <td>Deportes</td>
              <td>Unidad</td>
              <td>40</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Producto G</td>
              <td>Descripción del producto G</td>
              <td>Marca D</td>
              <td>Juguetes</td>
              <td>Unidad</td>
              <td>25</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Producto H</td>
              <td>Descripción del producto H</td>
              <td>Marca E</td>
              <td>Muebles</td>
              <td>Unidad</td>
              <td>15</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Producto I</td>
              <td>Descripción del producto I</td>
              <td>Marca F</td>
              <td>Herramientas</td>
              <td>Unidad</td>
              <td>50</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Producto J</td>
              <td>Descripción del producto J</td>
              <td>Marca G</td>
              <td>Automotriz</td>
              <td>Unidad</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
