<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Productos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
              <a href="/productos">Productos</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="card h-100">
      <div class="card-header">
        <h3>Listado de productos</h3>
      </div>
      <div class="card-body">
        <div class="search-container">
          <input
            type="text"
            [formControl]="searchControl"
            placeholder="Busca por producto"
            class="search-input"
          />
          <button class="add-button" (click)="onAddProduct()">
            Añadir Producto
          </button>
        </div>
        @if (isloading) {
        <div class="loading">Loading products...</div>
        } @else { @if(displayedProducts.length > 0){
        <div class="table-wrapper">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Stock Mínimo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (product of displayedProducts; track product.productId){
              <tr>
                <td>{{ product.productId }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.unitOfMeasure }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.minimumStock }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-warning mr-1"
                    (click)="editProduct(product.productId)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="eliminarProducto('1')"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>

              }
            </tbody>
          </table>
        </div>

        <div class="pagination">
          <div class="pagination-info">
            {{ getPagitationInfo() }}
          </div>
          <div class="pagination-controls">
            <label>
              Tamaño de página:
              <select
                class="page-size-select"
                [value]="pageSize"
                (change)="onPageSizeChange($event)"
              >
                @for (size of pageSizeOptions; track size){
                <option [value]="size">{{ size }}</option>
                }
              </select>
            </label>

            <div class="pagination-buttons">
              <button
                class="page-button"
                [disabled]="currentPage === 1"
                (click)="previousPage()"
              >
                Previus
              </button>

              @for (page of getPageNumbers(); track page){
              <button
                class="page-button"
                [class.active]="page === currentPage"
                (click)="goToPage(page)"
              >
                {{ page }}
              </button>
              }

              <button
                class="page-button"
                [disabled]="currentPage === totalPages"
                (click)="nextPage()"
              >
                Next
              </button>
            </div>
          </div>
        </div>

        } @else {
        <div class="no-data">
          @if(searchControl.value){ No se encontrarón Productos que coincidan
          con "{{ searchControl.value }}" }@else { No hay productos disponibles
          }
        </div>
        } }
      </div>
    </div>
  </section>
</div>
