/* You can add global styles to this file, and also import other style files */
:root{
  --nubegest-primary-color: #5783DE;
  --nubegest-dark-blue-color: #101b31;
  --nubegest-background-color: #192a4c;
}

.card-header {
  background-color: var(--nubegest-background-color) !important; /* Cambia el color de fondo */
  color: white !important; /* Cambia el color del texto */
  border-bottom: 2px solid var(--nubegest-dark-blue-color) !important; /* Personaliza el borde */
}


/* Sidebar styles */
.main-sidebar {
  background-color: var(--nubegest-background-color) !important; /* Verde  */
  color: #FFFFFF !important; /* Texto en blanco */
}

.main-sidebar .nav-link {
  color: #FFFFFF !important; /* Blanco para el texto */
}

.main-sidebar .nav-link:hover, .main-sidebar .nav-link.active {
  background-color: var(--nubegest-primary-color) !important; /* Gris oscuro para hover y activos */
  color: #FFFFFF !important; /* Blanco para el texto */
}

.main-sidebar .nav-icon {
  color: #FFFFFF !important;
}

.brand-link {
  background-color: var(--nubegest-dark-blue-color) !important; /* Gris oscuro para el logo */
  color: #FFFFFF !important; /* Blanco para el texto */
}

.brand-link .brand-image {
  border-radius: 50% !important;
}

.brand-text {
  font-weight: bold !important;
  color: #FFFFFF !important; /* Blanco para el texto del nombre */
}

/* Navbar styles */
.main-header {
  background-color: #f2f2f2 !important; /* Gris claro */
  color: #00c83c !important; /* Verde  */
}

.main-header .nav-link {
  color: var(--nubegest-dark-blue-color) !important; 
}

.main-header .nav-link:hover {
  color: #373737 !important; /* Gris oscuro en hover */
}

.navbar-search-block {
  background-color: #f2f2f2 !important;
}

.navbar-search-block input {
  border: 1px solid #00c83c !important; /* Borde verde */
  color: #00c83c !important; /* Texto en verde */
}

/* Footer styles */
.main-footer {
  background-color: #f2f2f2 !important;
  color: var(--nubegest-dark-blue-color) !important; /* Verde  para el texto */
}

.main-footer a {
  color: var(--nubegest-dark-blue-color) !important;
}

.main-footer a:hover {
  color: #5d5d5d !important; /* Gris oscuro en hover */
}

.float-right {
  color: var(--nubegest-dark-blue-color) !important;
}


ngx-datatable {
  width: 100% !important;
  height: auto !important;
}